* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --theme-color:rgb(255, 226, 171); /* main head navbar header */
  --color1:rgb(246, 208, 139); /*secound navbar section*/
  --main-heading-color: rgb(48, 48, 48);
  --button-bg: #fbda7f;  /* our Therapist contact Us Button*/
  --icon-bg: #deb87e; /* end footerSection Scss Code*/
  --gray: rgb(72, 74, 78);
  --doctorpage-theme: rgb(250, 189, 107);
  --doctorpage-btn: rgb(38, 198, 142);
  --flower-bg: rosybrown;
  --color2: rgb(66, 54, 28);
  --color3: rgb(163, 91, 91);
  --card_hover: rgb(96, 134, 114);
  --color4: rgb(246, 208, 190);
  --lightgreenbg: rgb(255, 226, 171); /*after carousel background*/
  --blue-heading: rgb(28, 28, 81);
  --lightbeigebg:rgb(255, 226, 171);
  --redbrown: brown;
  --title: #d39259;
  --white: white;
  --yellow: yellow;   
  --black: black;
  --olive-heading: #424236;
  --link-hover-orange: #b17744;
}
html {
  scroll-behavior: smooth;
}

.font {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

ul li {
  list-style-type: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
}

.main_heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-heading-color);
  text-align: center;
}

.sub_heading {
  font-size: 2.6rem;
  font-weight: 600;
}
